/* Universal styles */

html {
    font-size: 16px;
}

body {
    font-family: Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    width: 100%;
}

span {
    font-weight: bold;
    color: blue;
    text-decoration: none
}

img {
    text-align: left;
}

h3 {
    color: black;
    font-weight: bold;
    text-align: left;
}

p {
    color: black;
    text-align: left;
}

/* Header */

header {
    background-image: url(../images/pattern.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 6.25rem;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

/* Brushes */

.brushes h2 {
    background-color: mediumspringgreen;
}

/* Frames */

.frames h2 {
    background-color: lightcoral;
}

/* Paint */

.paint h2 {
    background-color: skyblue;
}
